.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;   
    background-color: #fff;

}

.header_menu_item {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap:34px;
   margin-right: 31px;
   font-size: 18px;
   line-height: 21.13px;
   
}

.header_menu_item_list-item_no-bullit {
    list-style: none;

}

.header_menu_item_list {
    list-style: circle;

}

.link_list-active {
    text-decoration: none;

}

.header_logo_image {
    width: 148px;
    height:105px;

}

.address {
    max-width: 240px;
    font-size: 18px;
    font-style:normal;
    line-height: 1.35;


}

.header_address {
    justify-self: flex-end;
    margin-left: 19px;

}

.cover {
    position: relative;
    z-index: 0;
    width: 100%;
    padding: 165px 50px 40px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.overlay {
    position: absolute;
    inset: 0;
    z-index:-1;
    width: 100%;
    height: 100%; 
    opacity: 60%;
    background-color: #000;

}

.cover_title {
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;

}

.aligned_text {
    display: block; 
    letter-spacing: 0.3em;
 
}

.aligned_text-center {
    display: block;
    letter-spacing: 0.3em;
    text-align: center;
    transform: translate(15px ,20px);
}

.aligned_text-right {
    display: block;
    letter-spacing: 0.3em;
    text-align: right;
    transform: translate(30px, 40px);


}

.description { 
    display: flex;
    padding-top: 155px;
    color: #fff;
    font-size: 22px;
    word-spacing: 30px;
    
}

.description_text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing:18px;

}

.button {
    width: 256px;
    height: 51px;
    margin-left: 110px;
    border-color: #fff;
    color: #fff;
    font-size: 22px;
    background-color: transparent;
    transform: translateY(-10px);

}

.lots {
    margin-top: 180px;
    padding-right: 24px;
    padding-left: 24px;

}

.lots_heading {
    margin-bottom: 27px;
    padding-left: 40px;
    font-size: 40px;

}

.lots_card_list {
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    min-height: 596px;
    color: #fff;
}

.lots_card_list_item {
    position: relative;
    z-index: 0;
    width:334px;
    min-height: 596px;

}

.card_link {
    width: 334px;
    height: 100%;
    text-decoration: none;

}

.card_title {
    font-size: 22px;
    line-height: 26.4px;
    text-decoration: underline;

}

.card {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    padding: 46px 36px 45px 40px;
    background-repeat: no-repeat;
    background-position:center ;
    background-size:cover ;


}

.card_text {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
 

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
 

}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
  

}

.more { 
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;

}

.about {
    position: relative;
    display: grid;
    grid-template-columns:334px 2fr;
    column-gap: 47px; 
    margin: 120px 0px 0px 0px;
    padding-right: 24px;
}

.about_logo {
    width: 240px;
    height: 240px;
    margin: 35px 72px;
    border-radius: 50%;
    background-color:#000;

}

.about_logo_image {
    width: 148px;
    height: 114px;
    margin: 62px 50px;

}

.container {
    display: grid;
    grid-template-rows:1fr 1fr;
    align-items: center;
    width: 100%;
}

.about_title {
    margin-top: 130px;
    padding-top: 3px;
    padding-bottom: 46px;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;

}

.about_text {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-top: 155px;

}

.footer_menu {
    padding-bottom: 115px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
}

.footer_address {
   margin-right: 30px;
}


.footer_menu_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__menu-link_active{
    text-decoration: none;

}
.footer_menu_list_item{
    list-style: none;
}

.footer_social-list {
    display: flex;
    gap: 38px;
    padding-left: 17px;
} 

.footer_social-list-item {
    list-style: none;

} 

.footer_social-icon {
    width: 48px;
    height: 48px;

}
